/* Generales */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
}

/* Menu Mobile */
.menu-mobile{
    display: none;
}

/* Menu Escritorio */
.menu-escritorio{
    width: 100%;
    min-height: 70px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color:#fbdcc4;
    
}

.menu-escritorio .menu-principal ul li{
    float: left;
    list-style: none;
    padding-top: 10px;
}

.menu-escritorio .menu-principal ul li a {
   text-decoration: none;
   color: #7D0633;
   padding: 0px 25px 0px 25px;
}


.logo{
    display: inline-block;
    width: 90px;

}

.logo img {
    width: 100%;
}

/* Fixed Header */
.fixed-header{
    display: none;
}

/* Main */

.main{
    width: 100%;
    margin: auto;
    margin-top: -70px;
}

.main .banner-principal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:#fbdcc4;
}

.main .banner-principal .banner{
    width: 40%;
    margin-left: 138px;
    position: relative;
}

.main .banner-principal .banner-texto{
    width: 100%;
    color: rgb(114, 114, 114);
    margin-top: 50px;
}

.main .banner-principal .banner-texto h1{
    width: 100%;
    font-size: 3rem;
    font: weight 700;
    margin-bottom: 50px;
}

#nombre-color{
    color: #7D0633;
}

.main .banner-principal .banner-texto h2{
    width: 100%;
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 50px;
}


.main .banner-principal .banner-texto p{
    text-align: justify;
    font-weight: 500;
}

/* Imagen Rotativa */
.main .banner-principal .rueda img{
    width: 500px;
    margin: 0px;
}

.main .banner-principal .rueda img:hover{
    width: 500px;
    margin: 0px;
    transform: rotate(360deg);
    transition: all 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Seccion Presentación */

.main .presentacion{
    width: 100%;
    height: 100vh;
    display: flex;
}


.main .presentacion .contenedor-presentacion {
    background-color: #fff;
    width: 50%;
    min-height: 345px;
    margin: auto;
    opacity: 0.85;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .presentacion .contenedor-presentacion .sobre-mi .spacer{
    border: 2px solid #F2A07B;
    width: 100px;
}

.main .presentacion .contenedor-presentacion .sobre-mi p{
    text-align: justify;
    padding: 50px 0px 50px 0px;
}

.main .presentacion .contenedor-presentacion .sobre-mi a{
    text-decoration: none;
    color:#F2A07B;
}


/* Portfolio */

p{
    padding-top: 10px;
    color:rgb(114, 114, 114);
    text-align: center;
    line-height: 25px;
}

.main .portfolio{
    width: 100%;
    background-color:#7d0633;
    margin:auto;
}

.main .portfolio .header-portfolio h1{
    width: 90%;
    color: #F7F2E7;
    margin: auto;
    padding: 35px 0;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .portfolio .header-portfolio h1::after{
    content: '';
    width: 85%;
    background-color: #F7F2E7;
    height: 3px;
    margin-left: auto;
}

/* Proyecto Principal */

.main .portfolio .proyecto-principal .proyecto-contigo{
    width: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.main .portfolio .proyecto-principal .proyecto-contigo img{
    width: 100%;
    border-radius: 10px;
}

.main .portfolio .proyecto-principal .proyecto-contigo .proyecto-info-contigo{
    background-color: #F7F2E7;
    padding: 50px;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
}

/* Proyectos Secundarios */

.main .portfolio .proyectos-secundarios{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.main .portfolio .proyectos-secundarios img{
    width: 100%;
    border-radius: 10px;
}

.main .portfolio .proyectos-secundarios .proyecto-info{
    width: 100%;
    background-color: #F7F2E7;
    padding: 35px;
    height: 35%;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}


/* Footer */

footer{
    background-color: #31112C;
    padding: 54px 0;
    text-align: center;
}

footer .copy p{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

footer .redes-sociales a{
    display: inline-block;
    padding: 0 10px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

/* Medias Queries */

@media screen and (max-width:1064px){

    .main .banner-principal{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        background-color:#fbdcc4;
    }

    .main .banner-principal .rueda img{
        width: 450px;
        margin: 0px;
    }

    /* Proyectos Secundarios */

    .main .portfolio .proyectos-secundarios{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

    .main .portfolio .proyectos-secundarios img{
    width: 100%;
    border-radius: 10px;
}

    .main .portfolio .proyectos-secundarios .proyecto-info{
    width: 100%;
    background-color: #F7F2E7;
    font-size: 0.85rem;
    padding: 30px;
    height: 35%;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}

}


@media screen and (max-width:992px){

    /* Encabezado */
    .menu-escritorio{
        display: none;
    }

    .menu-mobile{
        display: block;
        width: 100%;
        padding: 5px 30px;
        background: #fff;
        color: #444444;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100
    }

    .menu-mobile .menu-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-mobile .menu-bar .logo{
        width: 55px;
    }

    .menu-mobile .menu-bar a i{
        font-size: 1.4rem;
        color: #444444;
    }

    .menu-mobile .menu-principal{
        width: 80%;
        display: block;
        position: fixed;
        top: 56px;
        left: -100%;
        border-bottom: 1px solid rgba(204,204,204,0.5);
        border-right: 1px solid rgba(204,204,204,0.5);
        box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
        background: #fff;
        text-align: center;
    }

    .menu-mobile .menu-principal .ul .li a{
        display: block;
        padding: 10px;
        color: #444444;
        border-bottom: 1px solid rgba(204,204,204,0.5);
    }

    .menu-mobile .menu-principal .ul .li a:hover{
        background: #f7f7f7;
    }

    /* Main */
    /* Banner Principal */

    .main .banner-principal{
        width: 100%;
        margin: auto;
        /* height: 100vh; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        background-color:#fbdcc4;
    }

    .main .banner-principal .banner{
        width:40%;
        margin-left: 100px;
        position: relative;

    }

    .main .banner-principal .banner-texto{
        width: 100%;
        color: rgb(114, 114, 114);
        margin-top: 20px;
    }

    .main .banner-principal .rueda img{
        width: 400px;
        margin: 30px;
    }
    
    .main .banner-principal .banner-texto h1{
        width: 100%;
        font-size: 2rem;
        font: weight 700;
        margin-bottom: 50px;
    }
    
    
    .main .banner-principal .banner-texto h2{
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .main .banner-principal .banner-texto p{
        text-align: justify;
        font-weight: 500;
    }

    /* Seccion Presentación */

    .main .presentacion .contenedor-presentacion {
    background-color: #fff;
    width: 80%;
    min-height: 345px;
    margin: auto;
    opacity: 0.85;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Proyecto Principal */

    .main .portfolio .proyecto-principal .proyecto-contigo{
    width: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    }

    .main .portfolio .proyecto-principal .proyecto-contigo .proyecto-info-contigo{
    width: 100%;
    font-size: 0.8rem;
    background-color: #F7F2E7;
    padding: 30px;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
}

    /* Proyectos Secundarios */

    .main .portfolio .proyectos-secundarios{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}

    .main .portfolio .proyectos-secundarios .proyecto-info{
    width: 100%;
    font-size: 0.8rem;
    background-color: #F7F2E7;
    padding: 30px;
    height: 25%;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}


}


@media screen and (max-width:934px){

    .main .banner-principal .banner{
        width:40%;
        margin-left: 50px;
        position: relative;

    }

    .main .banner-principal .banner-texto{
        width: 100%;
        color: rgb(114, 114, 114);
        margin-top: 20px;
    }

    .main .banner-principal .rueda img{
        width: 350px;
        margin: 30px;
    }
}

@media screen and (max-width:768px){

    .main .banner-principal .banner{
        width: 80%;
        margin:auto;
        position: relative;

    }

    .main .banner-principal .rueda img{
        display: none;
    }
}




@media screen and (max-width:600px){
    /* Banner Principal */

    .main .banner-principal .banner{
        width: 80%;
        margin:auto;
        position: relative;

    }

    .main .banner-principal .rueda img{
        display: none;
    }
    
    .main .banner-principal .banner-texto{
        width: 100%;
        color: rgb(114, 114, 114);
        margin-top: 20px;
    }
    
    .main .banner-principal .banner-texto h1{
        width: 100%;
        font-size: 1.5rem;
        font: weight 700;
        margin-bottom: 30px;
    }
    
    .main .banner-principal .banner-texto h2{
        width: 100%;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 35px;
    }

    .main .banner-principal .banner-texto p{
        text-align: justify;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
    }

        /* Seccion Presentación */

    .main .presentacion .contenedor-presentacion {
    background-color: #fff;
    width: 80%;
    min-height: 345px;
    margin: auto;
    opacity: 0.85;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main .presentacion .contenedor-presentacion .sobre-mi p{
    text-align: justify;
    padding: 25px 0px 25px 0px;
}

    .main .portfolio .header-portfolio h1{
    width: 80%;
    color: #F7F2E7;
    margin: auto;
    padding: 25px 0;
    font-size: 1rem;

}

   /* Proyecto Principal */

   .main .portfolio .proyecto-principal .proyecto-contigo{
    width: 80%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    }


    /* Proyectos Secundarios */

    .main .portfolio .proyectos-secundarios{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
}

    .main .portfolio .proyectos-secundarios .proyecto-info{
    width: 100%;
    background-color: #F7F2E7;
    font-size: 0.8rem;
    padding: 25px;
    height: 35%;
    color: #7d0633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}



}